extends ../../template/layout
block title
    | pdfjs使用教程-1 - z-im.com
block keyword
    meta(name="keyword", content="z-im.com,前端分享,个人博客")
block keyword
    meta(name="description", content="z-im.com，分享前端技术")
block body
    .z-container
        .title
            h1 pdfjs使用教程
        .time 2018年2月11日14:22:30
        .content
            .section
                .subTitle pdf.js简单实例在线预览，读取base64的数据。
                canvas#canvas(style="border:1px solid black;")
            .bpn 相关文档
                ol
                    li
                        a(href='/pages/pdf/index.html') 利用html5实现pdf在线预览
                    li
                        a(href='/pages/pdf/pcanvas.html') 使用canvas来呈现内容
                    li
                        a(href='/pages/pdf/pbase64.html') 读取base64的数据
                    li
                        a(href='/pages/pdf/ppages.html') 自定义分页功能
                    li
                        a(href='/pages/pdf/viewer.html') 使用viewer
block script
    script(src='/libs/pdfjs/build/pdf.js')
    script.
        var pdfData = atob(
            'JVBERi0xLjcKCjEgMCBvYmogICUgZW50cnkgcG9pbnQKPDwKICAvVHlwZSAvQ2F0YWxvZwog' +
            'IC9QYWdlcyAyIDAgUgo+PgplbmRvYmoKCjIgMCBvYmoKPDwKICAvVHlwZSAvUGFnZXMKICAv' +
            'TWVkaWFCb3ggWyAwIDAgMjAwIDIwMCBdCiAgL0NvdW50IDEKICAvS2lkcyBbIDMgMCBSIF0K' +
            'Pj4KZW5kb2JqCgozIDAgb2JqCjw8CiAgL1R5cGUgL1BhZ2UKICAvUGFyZW50IDIgMCBSCiAg' +
            'L1Jlc291cmNlcyA8PAogICAgL0ZvbnQgPDwKICAgICAgL0YxIDQgMCBSIAogICAgPj4KICA+' +
            'PgogIC9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKCjQgMCBvYmoKPDwKICAvVHlwZSAvRm9u' +
            'dAogIC9TdWJ0eXBlIC9UeXBlMQogIC9CYXNlRm9udCAvVGltZXMtUm9tYW4KPj4KZW5kb2Jq' +
            'Cgo1IDAgb2JqICAlIHBhZ2UgY29udGVudAo8PAogIC9MZW5ndGggNDQKPj4Kc3RyZWFtCkJU' +
            'CjcwIDUwIFRECi9GMSAxMiBUZgooSGVsbG8sIHdvcmxkISkgVGoKRVQKZW5kc3RyZWFtCmVu' +
            'ZG9iagoKeHJlZgowIDYKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMDEwIDAwMDAwIG4g' +
            'CjAwMDAwMDAwNzkgMDAwMDAgbiAKMDAwMDAwMDE3MyAwMDAwMCBuIAowMDAwMDAwMzAxIDAw' +
            'MDAwIG4gCjAwMDAwMDAzODAgMDAwMDAgbiAKdHJhaWxlcgo8PAogIC9TaXplIDYKICAvUm9v' +
            'dCAxIDAgUgo+PgpzdGFydHhyZWYKNDkyCiUlRU9G');
        PDFJS.getDocument({data:pdfData}).then(function (pdf) {
            console.log('pdf加载成功', pdf);
            var pageNumber = 1;
            pdf.getPage(pageNumber).then(function (page) {
                console.log('page', page);
                var scale = 1.5;
                var viewport = page.getViewport(scale);

                // Prepare canvas using PDF page dimensions.
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = document.querySelector('main>.z-container').offsetWidth;

                // Render PDF page into canvas context.
                var renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                page.render(renderContext);
                pageAdap();
            });
        }, function (err) {
            console.error(err)
        })

