extends ../../template/layout
block title
    | pdfjs使用教程 - z-im.com
block keyword
    meta(name="keyword", content="z-im.com,前端分享,个人博客")
block keyword
    meta(name="description", content="z-im.com，分享前端技术")
block body
    .z-container
        .title
            h1 pdfjs使用教程
        .time 2018年2月8日14:08:41
        .content
            .section
                .subTitle 1、Object

