extends ../../template/layout
block title
    | pdfjs使用教程 - z-im.com
block body
    .z-container
        .title
            h1 pdfjs使用教程
        .time 2018年2月8日14:08:41
        .content
            .section
                .subTitle 1、Object

