extends ../../template/layout
block title
    | pdfjs使用教程 - z-im.com
block keyword
    meta(name="keyword", content="z-im.com,前端分享,个人博客")
block keyword
    meta(name="description", content="z-im.com，分享前端技术")
block body
    .z-container
        .title
            h1 pdfjs使用教程
        .time 2018年2月8日14:08:41
        .content
            .section
                .subTitle pdf.js简单实例在线预览功能 == 使用viewer
                p 这里需要处理的问题是，我们需要检测pdf文件加载完成去读取pdf文件的高度，然后给iframe设置一个固定的高度
                iframe#iframe(src="/libs/pdfjs/web/viewer.html?file=/assets/pdf/1.pdf", width='100%', onload='loadedPdf()')
            .bpn 相关文档
                ol
                    li
                        a(href='/pages/pdf/index.html') 利用html5实现pdf在线预览
                    li
                        a(href='/pages/pdf/pcanvas.html') 使用canvas来呈现内容
                    li
                        a(href='/pages/pdf/pbase64.html') 读取base64的数据
                    li
                        a(href='/pages/pdf/ppages.html') 自定义分页功能
                    li
                        a(href='/pages/pdf/viewer.html') 使用viewer
block script
    script.
        var loadedPdf = function () {
            setTimeout(function () {
                var iframe = document.getElementById("iframe");
                iframe.style.height = iframe.contentWindow.document.querySelector('#viewer').offsetHeight < 2800 ? 2800 + 'px' : iframe.contentWindow.document.querySelector('#viewer').offsetHeight + 'px';
                pageAdap();
            },500)

        }
