extends ./layout.pug
block title
    | 关于 - z-im.com
block body
    #about
        .title
            h1 关于
        .content
            p 一个专注于前端开发的web前端攻城狮
            hr
            strong 关于我
            p 我是成梓，2013年毕业于电子科大成都学院软件工程专业。
            p 刚开始几年一直处于学习和探索的阶段，做过商城开发，做过站群，跟着别人搞过SEO，做过个人站长，实践过各种营销。
                | 所以一开始是准备往全栈的方向发展的。
            p 2015年开始专注于前端开发，作一个职业的前端开发攻城狮。
            p 因为大大小小的项目经历了很多，做了很多事也写了很多代码，但是到最后什么也没有留下来，感觉很可惜。
                | 我要把我做的东西记录下来，同时分享出来，所以开了这个网站，仅供分享和交流吧！
            p 本站没有什么Powered by之类的说法，都是鄙人纯手工打造
            strong 关于内容
            p 版权声明: 「署名-非商业性使用-禁止演绎 3.0 国际」（CC BY-NC-ND 3.0）
            p 所有文章非特别说明皆为原创。技术更迭迅猛，部分内容可能会作修改，为保证信息与源同步，转载时请务必注明文章出处！谢谢合作 :-)
            p 文章皆为个人观点，不代表所服务的公司。
        .modify-time
            | 最后修改时间：2018年2月1日 00:18:28
