extends ./template/layout
include ./template/mixin.pug
block title
   | 归档 - z-im
block keyword
   meta(name="keyword", content="z-im.com,前端分享,个人博客")
block keyword
   meta(name="description", content="z-im.com，分享前端技术")
block body
   include data/archives.pug
   #archives.z-container
      h2 归档
      each item in archiceList
         section
            div.time #{item.date}(
               | #{item.articleList.length})
            ul.list
               each r in item.articleList
                  li
                     a(href=r.href) #{r.title}
                     +tag(r.date,r.tag)