extends layout.pug
include ./template/mixin.pug
block title
   | 归档页面
block body
   -
      var archiceList = [
         {
             date:'2018年1月',
             articleList:[
             {
                 href:'#',
                 title:'node搭建本地服务器',
                 date:'2018.1.1',
                 tag:[{name:'node',href:'/pages/node_server.html'},{name:'webpack',href:'#'}]
             }
             ]
         }
      ]

   #archives
      h2 归档
      each item in archiceList
         section
            div.time #{item.date}(
               | #{item.articleList.length})
            ul.list
               each r in item.articleList
                  li
                     a(href=r.href) #{r.title}
                     +tag(r.date,r.tag)