extends layout.pug
block title
   | 归档页面
block body
   .z-container
      h2 归档
      p
         div.time 2018年1月(1)
         ul.list
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1