extends layout.pug
include ./template/mixin.pug
block title
   | 归档 - z-im
block body
   include data/archives.pug
   #archives.z-container
      h2 归档
      each item in archiceList
         section
            div.time #{item.date}(
               | #{item.articleList.length})
            ul.list
               each r in item.articleList
                  li
                     a(href=r.href) #{r.title}
                     +tag(r.date,r.tag)