extends layout.pug
block title
   | 归档页面
block body
   #archives
      h2 归档
      section
         div.time 2018年1月(1)
         ul.list
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span (
                  span 2018.1.1
                  span · tag:
                  a node
                  span 、
                  a webpack
                  span ·
                  span )
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
      p
         div.time 2018年2月(12)
         ul.list
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1
            li
               a(href='./pages/node_server.html') node搭建本地服务器
               span 2018-1-1