nav
   ul
      li
         a(href="./index.html")
            i.zim.z-sy
            span 首页
      li
         a(href="./lab.html")
            i.zim.z-sys
            span 实验室
      li
         a(href="./archives.html")
            i.zim.z-gd
            span 归档
      li
         a(href="./about.html")
            i.zim.z-gy
            span 关于