nav
   ul
      li
         a(href="./index.html")
            i.zim.z-sy
            span 首页
      li
         a(href="#")
            i.zim.z-dzs
            span 端知识
      li
         a(href="./archives.html")
            i.zim.z-gd
            span 归档
      li
         a(href="#")
            i.zim.z-gy
            span 关于