*{
  box-sizing: border-box;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.text-center, .ql-align-center{
  text-align: center;
}
a{
  transition: color 0.4s ease;
}
body{
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-family: Square721 Cn BT, Georgia, serif;
  aside{
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    #logo{
      padding-top: 40px;
      padding-bottom: 10px;
      z-index: 9;
      background-color: #202020;
      position: relative;
      a{
        margin: 0 auto;
        display: block;
        text-align: center;
        img{
          width: 160px;
          height: 90px;
          margin: 0 auto;
          overflow: hidden;
          border:none;
        }
      }
    }
    .side-trigger{
      display: none;
      opacity: 0;
      visibility: hidden;
    }
    nav{
      z-index: 9;
      background-color: #202020;
      position: relative;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          width: 100%;
          height: 45px;
          line-height: 45px;
          font-size: 16px;
          a{
            padding-left: 25px;
            display: block;
            color: #999;
            transition: color .2s cubic-bezier(.4,.01,.165,.99);
            text-decoration: none;
            i{
              font-size: 20px;
              width: 25px;
              height: 45px;
              line-height: 45px;
              text-align: center;
              margin-right: 20px;
            }
            span{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  main{
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    footer{
      margin: 20px 0;
      .copyright{
        color: #333;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
#home{
  .end-list{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    position: relative;
    padding: 30px 0;
    word-wrap: break-word;
    .title{
      font-size: 2em;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 25px;
      color: #333;
      a{
        text-decoration: none;
      }
    }
    .meta{
      color: #555;
      font-size: .9em;
      line-height: 1.5;
      text-align: right;
      .time{
        color: #808080;
      }
    }
    .desc{
      clear: left;
      font-size: 16px;
      line-height: 1.8;
      word-wrap: break-word;
      img{
        max-width: 640px;
      }
    }
    .more{
      a{
        color: #2479CC;
        text-decoration: none;
      }
    }
  }
  .archives{
    width: 100%;
    line-height: 20px;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    overflow: hidden;
    a{
      color: #2479CC;
      text-decoration: none;
    }
  }
}
#archives{
  section{

  }
  ul{
    margin: 0;
    list-style-type: circle;
    padding-left: 20px;
    li{
      line-height: 26px;
      a{
        text-decoration: none;
        color: #4a75b5;
        &:hover{
          color: #e58c7c;
        }
      }
      >span{
        margin-left: 10px;
      }
      span{
        font-size: 12px;
        color: #666;
        vertical-align: top;
        white-space: nowrap;
        padding-left: 2px;
        a{
          color: #555;
          &:hover{
            color: #e58c7c;
          }
        }
      }
    }
  }
}
#about{
  .content{
    strong{
      display: block;
      width: 80%;
      font-size: 18px;
      border-bottom: 1px dashed #ccc;
      line-height: 30px;
      margin-bottom: 15px;
      margin-top: 30px;
      padding-bottom: 8px;
    }
  }
  .modify-time{
    padding: 20px;
    text-align: center;
    background: #f8f8f8;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
  }
}

@media screen and (max-width: 800px){
  body{
    aside{
      width: 100%;
      height: 60px;
      bottom: auto;
      position: initial;
      overflow-x: visible;
      overflow-y: visible;
      #logo{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 60px;
        float: left;
        a{
          display: initial;
          img{
            width: 70px;
            height: 40px;
          }
        }
      }
      .side-trigger{
        display: block;
        opacity: 1;
        visibility: visible;
        float: right;
        padding-right: 10px;
        line-height: 60px;
        height: 60px;
        i{
          color: #FFF;
          font-size: 20px;
        }
      }
      nav{
        clear: both;
        display: none;
        opacity: 0;
        visibility: hidden;
        background-color: #0000009e;
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        ul{
          background-color: #202020;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 0;
          height: 100%;
          transition: width 0.3s ease;
          li{
            border-bottom: 1px dotted #666;
          }
        }
      }
    }
    main{
      left:0;
      top:60px;
    }
  }
  #home{
    .end-list{
      .title{
        font-size: 1em;
      }
    }
  }
}


.z-container{
  .content{
    p{
      word-wrap: break-word;
      word-break: break-all;
      .tin{
        text-indent: 30px;
      }
    }
    .subTitle{
      font-size: 18px;
      font-weight: bold;
      padding: 15px 0;
    }
    .eg{
      min-height: 200px;
      height: auto;
      border-bottom: 1px dashed #81b78b;
    }
    code{
      display: block;
      max-width: 100%;
      padding: 5px 10px;
      background-color: #333;
      font-size: 1.2rem;
      color:#FFF;
      word-wrap: break-word;
      word-break: break-all;
      margin: 20px 0;
      p{
        margin: 0;
        font-size: 14px;
      }
      .tin{
        text-indent: 2.4rem;
      }
    }
  }
}

.hide{
  display: none;
  opacity: 0;
  visibility: hidden;
}