extends layout.pug
block title
   | 主页
block body
   .z-container
      section.end-list.ql-snow
         .title.pull-left
            a(href="./pages/node_server.html") node搭建本地服务器分享
         .meta.pull-right
            .time 2018-1-1
            .cate node
         .desc.ql-editor  安装node环境
         .more
            a(href="./pages/node_server.html") 阅读全文
      .archives.text-center
         a(href='./archives.html') 归档