extends ../template/layout.pug
block title
    | canvas
block body
    .z-container
        .title canvas
        .time 2018年1月
        .content
            canvas#canvas(width='400px', height='300') 404
block script
    script(src='./canvas.js')
