extends ../template/layout.pug
block title
    | node搭建本地服务器
block body
    .z-container
        .title node搭建本地服务器分享
        .time 2018年1月
        .content
            p 1. 新建文件【server.js】
            p 2. 新建文件【mine.js】
            p 3. 安装node
