extends ../template/layout.pug
block title
    | 利用html5实现pdf在线预览 - z-im.com
block body
    - val = 10001
    .z-container
        .title
            h1 利用html5实现pdf在线预览之pdf.js
        .time 2018年2月2日10:21:29
        .content
            p.
                这里可以书写随意书写内容
                舒服就好说的浪费多少水电费看电视
                私搭乱建风刀霜剑
                时代峻峰山东矿机好
                是登录福建省电话
                时代峰峻圣诞节快乐好0011
            p= val